{% extends 'bootbase.html' %}
{% load staticfiles %}
{% load l10n %}
{% block title %}Grondwatermeetnet {{object.name}} {% endblock title %}
{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}
<style type="text/css">
	.labels {
		color: black;
		background-color: #FFFF66;
		font-family: "Lucida Grande", "Arial", sans-serif;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		width: 54px;     
		border: none;
		white-space: nowrap;
/* 		text-shadow: 0px 0px 12px red; */
	}
	.nolabels {
	    display: none; 
	}
	.scroll {
		overflow-y: auto;
	}
/*   	body > .wrapper {padding-bottom:0px; padding-top: 0px; margin: 0px;}  */
  	body, html, .wrapper, .h100 {height: 99%;}
  	a > img {height: 20px;}
 </style>
{% endblock %}
{% block brandname %}<div class="navbar-brand"><a href="{{object.homepage}}"><img style="margin-top: -7px;max-width: 100px;" src="/media/{{object.logo}}"/></a> Grondwatermeetnet {{object.name}}</div>{% endblock %}
{% block script %}
{{ block.super }}
{% localize off %}
<script src="https://maps.googleapis.com/maps/api/js?key={{apikey}}"></script>
<script src="{% static "js/markerwithlabel.js" %}"></script>
<script>
var map;
var markers;

function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.{{maptype}}
    });
	var json = {{content|safe}};
	var bounds = new google.maps.LatLngBounds();
	var infowindow = new google.maps.InfoWindow();
	var marker;
	markers = new Array();
	json.forEach(function(loc) {
			marker = new MarkerWithLabel({
			icon: {
			      path: google.maps.SymbolPath.CIRCLE,
			      scale: 6,
			      fillColor: 'red',
			      fillOpacity: 0.8,
			      strokeColor: 'white',
			      strokeWeight: 2
			},
   			position: new google.maps.LatLng(loc.lat,loc.lon),
			title: loc.name, 
   			map: map,
   			labelContent: loc.nitg,
   	        labelAnchor: new google.maps.Point(27, -10),
   	        labelClass: 'labels',
   	        labelStyle: {'opacity': 0.8},
   	        labelInBackground: true,
   	        labelVisible: false
   		});
   		markers.push(marker);
   		google.maps.event.addListener(marker, 'click', (function(marker) {
	        return function() {
                //infowindow.setContent('Loading data...');  
                //infowindow.open(map, marker);  
	            $.ajax({  
	                url: loc.url,  
	                success: function(data) {  
	                    infowindow.setContent(data);  
	                    infowindow.open(map, marker);  
	                }  
	            });  
	        }
	      })(marker));
		bounds.extend(marker.position);
	});
	{% if boundary %}
		var grens = new google.maps.KmlLayer({ url: '{{boundary}}', map: map});	
	{% else %}
		map.fitBounds(bounds);
	{% endif %}
}

$(function(){
	initialize();
	$('#hidelabels').hide();
	});

var panTimeoutId = undefined;

function panToMarker(m) {
	map.panTo(marker.position);
}

function clearPanTimer() {
	window.clearTimeout(panTimeoutId);
	panTimeoutId = undefined;
}

function showMarker(m) {
	marker = markers[m];
	marker.setAnimation(google.maps.Animation.BOUNCE);	
	panTimeoutId = window.setTimeout(panToMarker,1000,marker);
}

function hideMarker(m) {
	markers[m].setAnimation(null);
	clearPanTimer();
}

function showLabels() {
	var len = markers.length;
	for(var i=0; i< len; i++) {
		m = markers[i];
		m.set("labelVisible", true);
	}
	$('#showlabels').hide();
	$('#hidelabels').show();
}

function hideLabels() {
	var len = markers.length;
	for(var i=0; i< len; i++) {
		m = markers[i];
		m.set("labelVisible", false);
	}
	$('#showlabels').show();
	$('#hidelabels').hide();
}

</script>
{% endlocalize %}
{% endblock %}
{% block content %}
<div class = "container-fluid h100">
<div class = "row-fluid h100">
<div class = "col-md-10 h100"><div id= map class=h100 style="width:100%;"></div>
{% block buttons %}
<button class = "btn btn-default" id="showlabels" onclick="showLabels()">Labels tonen</button>
<button class = "btn btn-default" id="hidelabels" onclick="hideLabels()">Labels verbergen</button>
{% if user.is_authenticated and user.email %}
<a href="{% url 'meetnet:upload_files' object.id %}" class="btn btn-default pull-right" title="Mon bestanden uploaden" id="upload"><span class="glyphicon glyphicon-arrow-up"></span>Upload</a>
<a class="btn btn-default pull-right" title="Tijdreeksen downloaden" id="download" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-arrow-down"></span>Download</a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download tijdreeksen</h4>
      </div>
      <div class="modal-body">
      	<p>
      	Beste {{user.first_name|default:user.username}},
      	</p>
		<p>
		Klik op CSV of NITG alle tijdreeksen in het meetnet {{object}} te downloaden in het gewenste formaat.<br>
		Wij sturen een email met een link naar {{user.email}} als het bestand opgehaald kan worden.
		</p>
      </div>
      <div class="modal-footer">
		<a href="{% url 'meetnet:email-network' object.id %}" class="btn btn-default" data-dismiss=" modal">CSV</a>
		<a href="{% url 'meetnet:email-network-nitg' object.id %}" class="btn btn-default" data-dismiss=" modal">NITG</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuleren</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock buttons %}
</div>
<div class = "col-md-2 h100">
<div class = "list-group scroll h100">
<a class="list-group-item active" data-toggle="collapse" data-target="#putten" aria-expanded="true" aria-controls="putten">Putten<span class="badge">{{object.well_set.count}}</a>
<div class="collapse in" id="putten">
{% for well in object.well_set.all %}
<a onmouseover="showMarker({{forloop.counter0}});" onmouseout="hideMarker({{forloop.counter0}});" href="{% url 'meetnet:well-detail' well.id %}" class="list-group-item">{{well.nitg}}
{% if well.straat %}<br/><div class='text-muted'><small>{{well.straat}}, {{well.plaats}}</small></div>{% endif %}</a>
{% endfor %}
</div>
</div>
</div>
</div>
{% endblock content %}
